node_modules/
dist/

# skip all .git files
*/*.git
*.git

# skip all .DS_Store files
.DS_Store

# skip all .idea files
.idea/

# skip all .vscode files
.vscode/

# skip all .env files
.env
.env.local
.env.development.local
